<link rel="stylesheet" href="css/records.css">
<form id="form-agenda" action="./agenda" method="post">
    <input type="hidden" name="data" value="{{data}}">
    <input type="hidden" name="id" id="id-form">
    <input type="hidden" name="horario" id="horario-form">
    <input type="hidden" name="descricao" id="descricao-form">
</form>

<main>
    <section class="conteiner-mensagem" id="conteiner-mensagem">
        <p>Uma mensagem de confimação</p>
        <div class="conteiner-buttons">
            <button title="button" type="button" id="bt-A-mensagem">Salvar</button>
            <button title="button" type="button" id="bt-B-mensagem">Cancelar</button>
        </div>
    </section>
    {{#each registros}}
    <section class="conteiner-registro" id-registro="{{this.dataValues.id}}">
        <div class='conteiner-registro-time'>
            <input title='hora' type='time' value="{{this.dataValues.horario}}" disabled>
        </div>
        <div>
            <textarea maxlength='100' placeholder='Editar registro' disabled>{{this.dataValues.descricao}}</textarea>
        </div>
        <div class="conteiner-buttons">
            <button title="Editar" type="button" onclick="enableEdit(this)" ontouchend="enableEdit(this)">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF">
                    <path d="M160-400v-80h280v80H160Zm0-160v-80h440v80H160Zm0-160v-80h440v80H160Zm360 560v-123l221-220q9-9 20-13t22-4q12 0 23 4.5t20 13.5l37 37q8 9 12.5 20t4.5 22q0 11-4 22.5T863-380L643-160H520Zm300-263-37-37 37 37ZM580-220h38l121-122-18-19-19-18-122 121v38Zm141-141-19-18 37 37-18-19Z"/>
                </svg>
            </button>
            <button title="Excluir" type="button" onclick="sendDelete(this)" ontouchend="sendDelete(this)">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF">
                    <path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"/>
                </svg>
            </button>
        </div>
        <div class="conteiner-buttons">
            <button title="button" type="button" onclick="sendUpdate(this)" ontouchend="sendUpdate(this)">Salvar</button>
            <button title="button" type="button" onclick="disableEdit(this)" ontouchend="disableEdit(this)">Cancelar</button>
        </div>
    </section>
    {{else}}
        <span>Nada agendado para essa data</span>
    {{/each}}
</main>

<script src="js/records.js"></script>